body { display: none; }

/* Reset elements - input, button inherit font from parent */
body, h1, h2, h3, h4, h5, h6, p, ul { margin: 0; }
input, button, ul { padding: 0; }
input, button { border: none; font: inherit; }
ul { list-style: none; }

/* Set improvements and disallow text selecting */
html { -webkit-tap-highlight-color: transparent; }
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-rendering: optimizeLegibility;
}

/* Set color scheme */
html {

	--black: rgb(35, 35, 35);
	--grey: rgb(149, 145, 140);
	--white: rgb(255, 250, 250);

	--red: rgb(238, 32, 77);
	--green: rgb(28, 172, 120);
	--yellow: rgb(252, 232, 131);
	--blue: rgb(31, 117, 254);

	--orange: rgb(255, 117, 56);
	--magenta: rgb(246, 100, 175);
	--fuchsia: rgb(195, 100, 197);
	--brown: rgb(180, 103, 77);
	--violet: rgb(146, 110, 174);

}

/* Set document font properties (for rem values) */
html {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 1.25vw;
	line-height: normal;
	font-family: 'Arial'; /* Default FONT FAMILY */
}

/* Set document dimensions (full width and height) */
html, body { width: 100%; height: 100%;	}

/* Set body 3x2 grid (hidden - JS will show it when ready) - Set main background (gradient) and color  */
body {
	grid:
		'app-logo spotify-search' 10%
		'user-list-title spotify-results-nav' 10%
		'user-list spotify-results-list' 80%
		/ 50% 50%;
	background-color: var(--black); color: var(--white);
}

	/****************/
	/* LEFT SECTION */
	/****************/

	/* Grid 1x1: App Logo */
	header#app-logo {
		grid-area: app-logo;
		display: flex; justify-content: space-evenly; align-items: center;
	}
		header#app-logo > h1 { font: 900 4rem 'Raleway'; }
		header#app-logo > h2 {
			display: flex; flex-direction: column; align-items: center;
			font: 300 1.4rem 'Raleway';
		}

	/* Grid 2x1: User List Title */
	h3#user-list-title {
		grid-area: user-list-title;
		display: flex; justify-content: center; align-items: center;
		font-size: 3rem; font-weight: 100;
	}

	/* Grid 3x1: User List */
	ul#user-list {
		grid-area: user-list;
		list-style: inside decimal-leading-zero;
		width: calc(100% - 2rem);
		margin: 0 1rem; padding: 0 1rem; box-sizing: border-box;
		border-top-left-radius: .2rem; border-top-right-radius: .2rem;
		overflow: auto;
		z-index: 1;
		font-size: 2rem; font-weight: 900;
		text-transform: uppercase;
		background-color: var(--white); color: var(--black);
	}
		ul#user-list > li {
			line-height: 1.5;
			cursor: pointer;
			white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
		}



	/*****************/
	/* RIGHT SECTION */
	/*****************/

	/* Grid 1x2: Spotify Search */
	form#spotify-search { grid-area: spotify-search; }
		input#spotify-search-input {
			display: block; float: left;
			width: 80%; height: 100%;
			font: 900 3rem 'Source Code Pro';
			text-transform: uppercase;
			padding: 1rem; box-sizing: border-box;
			border-bottom-left-radius: .2rem; border-bottom-right-radius: .2rem;
			background-color: var(--white); color: var(--black);
		}
		input#spotify-search-input::placeholder {
			text-align: center;
			opacity: 1;
			background-color: var(--black); color: var(--white);
		}
		input#spotify-search-input:focus::placeholder {
			background-color: transparent; color: transparent;
		}
		button#spotify-search-button {
			width: 20%; height: 100%;
			cursor: pointer;
			background-color: transparent;
			transition: transform .2s;
		}
		button#spotify-search-button:active { transform: scale(.618); }
		button#spotify-search-button > svg {
			display: block;
			height: 100%;
			margin: 0 auto;
			stroke: var(--white);
		}



	/* Grid 2x2: Spotify Results Navigation */
	input[name="spotify-results-button"] { display: none; } /* Hide results navigation radio inputs */
	nav#spotify-results-nav {
		grid-area: spotify-results-nav;
		display: flex; align-items: flex-end;
		font: 700 1.7rem 'Raleway';
	}
		nav#spotify-results-nav > label {
			height: calc(100% - 2rem);
			flex: 1;
			display: flex; justify-content: center; align-items: center;
			border-top-left-radius: .2rem; border-top-right-radius: .2rem;
			cursor: pointer;
		}
		/* Set checked button label */
		input#spotify-track-results-button:checked ~ nav > label[for="spotify-track-results-button"] {
			background-color: var(--red); color: var(--black);
		}
		input#spotify-artist-results-button:checked ~ nav > label[for="spotify-artist-results-button"] {
			background-color: var(--green); color: var(--black);
		}
		input#spotify-album-results-button:checked ~ nav > label[for="spotify-album-results-button"] {
			background-color: var(--yellow); color: var(--black);
		}


	/* Grid 3x2: Spotify Results Lists */
	ul.spotify-results-list {
		grid-area: spotify-results-list;
		padding: 0 1rem; border-top: solid 1rem transparent; box-sizing: border-box;
		overflow: auto;
		z-index: 1; opacity: 0;
		color: var(--black);
		transition: opacity .2s;
	}
	ul#spotify-track-results-list { border-radius: 0 .2rem 0 0; background-color: var(--red); }
	ul#spotify-artist-results-list { border-radius: .2rem .2rem 0 0; background-color: var(--green); }
	ul#spotify-album-results-list { border-radius: .2rem 0 0 0; background-color: var(--yellow); }
	/* Set checked results list */
	input#spotify-track-results-button:checked ~ ul#spotify-track-results-list,
	input#spotify-artist-results-button:checked ~ ul#spotify-artist-results-list,
	input#spotify-album-results-button:checked ~ ul#spotify-album-results-list { z-index: 2; opacity: 1; }
	
		li.spotify-no-results {
			margin-top: 2rem;
			text-align: center;
			font-size: 2rem; font-weight: 900;
		} 

		li.spotify-result {
			height: calc(25% - 1rem);
			margin-bottom: 1rem;
			display: flex; flex-flow: row nowrap;
			background: var(--white); color: var(--black);
			font-family: 'Source Code Pro';
			text-transform: uppercase;
		}
			li.spotify-result > img {
				display: block;
				height: 100%;
			}
			li.spotify-result > div {
				display: flex; flex-flow: column nowrap; justify-content: space-between;
				padding: 1rem; box-sizing: border-box;
				white-space: nowrap; overflow: hidden;
			}
				.spotify-result-info { overflow: hidden; text-overflow: ellipsis; }
				.spotify-result-info.pos-top { font-weight: 500; font-size: 1.5rem; }
				.spotify-result-info.pos-mid { font-weight: 900; font-size: 2rem; }
				.spotify-result-info.pos-bot { font-weight: 500; font-size: 1rem; }
					.spotify-result-info.pos-bot > span { font-weight: 700; }
